.LayoutMenu {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.LayoutMenu > main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
    margin-left: 80px;
}