.regForm {
    width: 35%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.regForm > input {
    margin-bottom: 10px;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 7px;
    color: #000;
    font-size: 17px;
}

.regForm > input::placeholder {
    color: #000;
}

.regbuttons {
    width: max-content;
    margin: auto;
    display: flex;
}

.regbuttons > button {
    height: max-content;
    background-color: #18a3eb;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-right: 10px;
    width: max-content;
    font-size: 17px;
}

@media(max-width: 1024px){
    .regForm{
        width: 90%;
    }
}