.notfound {
    margin: auto;
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.notfound p {
    font-size: 30px;
    font-weight: 900;
    width: max-content;
    margin: auto;
    color: #d4d4d4;
    padding: 20px 0;
}

.outnot {
    background: #29a8df;
    color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    margin: auto;
}